* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin:6px;
}

.red_pozole {
    color: rgb(189, 39, 127);
}

#main-header {
    text-align: center;
    background-color: #7C93C3;
    color: white;
    border-radius: 1%;
    padding: 24px;
    font-size: 22px;
}

.front-page-style {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EAE4DD;
    margin: 0;
}

.main-body {
    font-size: 24px;
    font: black;
    margin: 40px
}

/* old code for container
.phrase-block {
    width: 100%;
    padding: 8px;
    background-color: bisque;
    text-align: center;
    margin: 0px auto;
    font-size: 28px;

}

.phrase {
    margin: 8px 100px;
}
new code using flex: */

.phrase-block {
    width: 100%;
    background-color: bisque;
    padding: 0px;
    margin: 0px;
    font-size: 28px;
    gap: 1rem;
    display: flex;
    text-align: center;


    border-radius: 10px;
    border-color: red firebrick;

}

.phrase {
    flex-basis: 100%;
}