.red_pozole {
    color: rgb(189, 39, 127);
}

#main-header {
    text-align: center;
    background-color: #7C93C3;
    color: white;
    border-radius: 1%;
}

.front-page-style {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EAE4DD
}

.main-body {
    font-size: 24px;
    font: black
}